button {
  background-color: #259cf2;
  width: 9rem;
  height: 3rem;
  border: 1px solid #259cf2;
  color: #341940;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10px;
}

button:focus,
button:hover {
  outline: none;
}
