* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 236, 236);
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  padding: 1rem;
  background-color: #522b63;
  top: 5.1rem;
  right: 0px;
  width: 240px;
  height: 330px;
  visibility: visible;
}

@media (max-width: 240px) {
  .active {
    width: 100%;
  }
}
