.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  background-color: #341940;
  width: 100%;
  height: 4rem;
  text-align: center;
  /* opacity: 0.9; */

  bottom: 0;
  
  width: 100%;
  text-align: center;
  
}

.footer p {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  text-align: center;
}
