.contain {
  margin-bottom: 10rem;
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.5s forwards;
}
@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.group {
  width: 100%;
  height: 500px;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxParagraph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  background-color: rgb(236, 236, 236);
  position: absolute;
  width: 700px;
  top: 23rem;
  padding: 2rem;
  border: 1px solid rgba(52, 25, 64, 0.2);
  border-radius: 0.6rem;
  box-shadow: 0px 1px 5px 0px rgba(52, 25, 64, 0.2);
  font-size: 1.2em;
  color: #341940;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media (max-width: 700px) {
  .paragraph {
    width: 100%;
    border-radius: 0rem;
    /* margin-top: -77px; */
    height: 300px;
    font-size: 0.9em;
    overflow-y: scroll;
  }
}

.aboutUs {
  padding-top: 8rem;
  width: 85%;
  margin: 0 auto;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.imgDevs {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.balao {
  margin-bottom: 8rem;
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(rgba(151, 149, 149, 0.6) 0px 8px 0px);
  transition: 1.5s all;
}
.balao:hover {
  transform: translateY(-10px);
  animation: balao 1.5s infinite alternate;
}
@keyframes balao {
  to {
    transform: translateY(10px);
  }
}

.card {
  width: 500px;
  background-color: rgb(236, 236, 236);
  padding: 2rem;
  border: 1px solid rgba(52, 25, 64, 0.2);
  border-radius: 0.6rem;
  box-shadow: 0px 1px 5px 0px rgba(52, 25, 64, 0.2);
  font-size: 1.2em;
  color: #341940;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0;
  transform: translateX(-100px);
  animation: animeCard 1.5s forwards;
}
@keyframes animeCard {
  to {
    opacity: 1;
    transform: initial;
  }
}

.card h3 {
  margin-bottom: 2rem;
}

@media (max-width: 890px) {
  .box {
    flex-direction: column;
    
  }
  .card {
    margin-top: 2rem;
  }
}


@media (max-width: 510px) {
  .paragraph {
    
    height: 300px;
    font-size: 0.9em;
    overflow-y: scroll;
  }
  .card {
    width: 100%;
    font-size: 0.9em;
  }
}
@media (max-width: 326px) {
  .paragraph,
  .card {
    height: 300px;
    font-size: 0.9em;
    overflow-y: scroll;
  }
}
